<div class="row">
    <div class="col-md-1 col-lg-1"></div>    
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <h1>Experiencia Laboral</h1>
        <ul>
            <li>
                <h2>Carnes Especiales Entrerrianas</h2>
                <h3>(2018-2020)</h3>
            </li>
            <p>Realización de tareas administrativas en la empresa familiar. Uso de Paquete Office para el control y seguimiento de distintas actividades.</p>
            <li>
                <h2>Emprendimiento</h2>
                <h3>(2020-2021)</h3>
            </li>
            <p>Compra y selección de frutas y verduras en Mercado Central local, para Venta de bolsones de distintos combos seleccionados, con Armado y Distribución de los mismos. Además del manejo de las redes sociales.</p>
            <li>
                <h2>Pasante de Procesos</h2>
                <h3>(2021-2022)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sapiente soluta facilis neque ratione beatae at dolorem, magnam saepe! Blanditiis dolore sed totam porro quisquam impedit minus magnam ex ullam?</p>
        </ul>
    </div>
    <div class="col-md-1 col-lg-1"></div>
</div>
