<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/FotoPerfil.jpeg" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 " id="info"> 
        <p id="nombre">Del Gaizo Matías</p>
        <p>Full Stack Developer Jr.</p>
        <p>Est. Ing. Industrial</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7" id="acercademi">
        <span>
            <h1>Acerca de mi</h1>
            <p>Elegi una carrera acorde a lo que consideraba 
            importante para mi vida profesional, la cual me encuentro
            finalizando.Soy curioso y me gusta constantemente capacitarme, lo que
            me llevo a anotarme y adentrarme más al mundo de la 
            programación del cual pretendo seguir aprendiendo.</p>
        </span>
    </div>
    
</div>