<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'PowerBI'"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="15"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]="'../assets/PowerBI.png'"
        [showImage]="true"
        [imageHeight]="150"
        [imageWidth]="150"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'PowerBI'"
        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="55"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]="'../assets/Front.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="100"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'PowerBI'"
        [titleColor]="'red'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]="'../assets/Office.png'"
        [showImage]="true"
        [imageHeight]="75"
        [imageWidth]="125"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'PowerBI'"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="15"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'red'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]="'../assets/PowerBI.png'"
        [showImage]="false"
        [imageHeight]="75"
        [imageWidth]="75"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Front-End'"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="55"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'yellow'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]="'../assets/Front.png'"
        [showImage]="false"
        [imageHeight]="75"
        [imageWidth]="75"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [title]="'Office'"
        [titleColor]="'black'"
        [titleFontSize]="'2em'"
        [showSubtitle]="false"
        [showUnits]="false"
        [percent]="80"
        [radius]="100"
        [outerStrokeWidth]="15"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'green'"
        [innerStrokeColor]="'black'"
        [animation]="true"
        [animationDuration]="500"
        [imageSrc]="'../assets/Office.png'"
        [showImage]="false"
        [imageHeight]="75"
        [imageWidth]="75"
        ></circle-progress>
    </div>

</div>
